.button {
  --size: 42px;

  cursor: pointer;
  block-size: var(--size);
  min-inline-size: var(--size);
  margin-block-end: 20px;
  border-radius: 4px;
  border: 1px solid currentColor;
  background: transparent;
  color: inherit;
  font-size: 32px;

  &:hover:not(:disabled) {
    background-color: #41b8832f;
  }
}